<p id="notice"><%= notice %></p>

<h1>Posts bolados</h1>

<table>
  <thead>
    <tr>
      <th>Conteúdo</th>
      <th>Escritor</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post&.contents %></td>
        <td><%= post&.user&.name %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

